@import '/src/styles/variables.scss';

.generator_chars {
    @include flex($direction: column);
    width: calc(70% - 10px);
    > button {
        @include border($radius: 0);
        @include font($color: $light, $align: center);
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $dark_opacity;
        transition: all 150ms ease;
        cursor: pointer;
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
        }
        &.active {
            background-color: $dark;
        }
    }
}
