@import '/src/styles/variables.scss';

button#en,
button#ru {
    @include border;
    position: absolute;
    top: -20px;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 4;
    padding: 10px;
    background-color: $dark;
    cursor: pointer;
    &:before {
        @include border($radius: 5px);
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        opacity: 0.25;
        transition: all 150ms ease;
    }
    &#en {
        right: 50%;
        transform: translateX(-45px);
        &:before {
            background: url('./images/en.png') center/contain no-repeat;
        }
    }
    &#ru {
        left: 50%;
        transform: translateX(45px);
        &:before {
            background: url('./images/ru.png') center/contain no-repeat;
        }
    }
    &:hover:before,
    &.active:before {
        opacity: 0.75;
    }
}
